In [77]:
import pandas as pd
import ast
import re

# BANGALORE

In [2]:
#file paths
input_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\bangalore_cars.xlsx"
output_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\bangalore_structured.csv"

In [3]:
df=pd.read_excel(input_path)

In [4]:
df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [9]:
def flatten_dict(d, parent_key=''):
    flat_dict = {}
    
    for key, value in d.items():
        new_key = f"{parent_key}_{key}" if parent_key else key
        
        if isinstance(value, dict):
            # Recursively flatten nested dictionaries
            flat_dict.update(flatten_dict(value, new_key))
        
        elif isinstance(value, list):
            # Handle lists: flatten dictionaries inside lists
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    flat_dict.update(flatten_dict(item, f'{new_key}_{i}'))
                else:
                    flat_dict[f'{new_key}_{i}'] = item
        else:
            # For non-dict, non-list values, add them directly
            flat_dict[new_key] = value
            
    return flat_dict
columns_to_process = ["new_car_detail","new_car_overview","new_car_feature","new_car_specs"]
structured_data = {}

for col in columns_to_process:
    flattened_rows = []
    for row in df[col]:
        row_data = ast.literal_eval(row)
        flattened_rows.append(flatten_dict(row_data))
    structured_data[col] = pd.DataFrame(flattened_rows)

# For carlinks, no need to flatten
structured_data["car_links"] = df[["car_links"]].copy()

# Combine all flattened data into a single DataFrame
bangalore_structured = pd.concat([structured_data["new_car_detail"], 
                      structured_data["new_car_overview"],
                      structured_data["new_car_feature"], 
                      structured_data["new_car_specs"], 
                      structured_data["car_links"]], axis=1)

# Add a city column
bangalore_structured["City"] = "Bangalore"

# Save the dataframe to a csv file
bangalore_structured.to_csv(output_path, index=False)

print(bangalore_structured)

      it      ft         bt        km transmission  ownerNo      owner  \
0      0  Petrol  Hatchback  1,20,000       Manual        3  3rd Owner
1      0  Petrol        SUV    32,706       Manual        2  2nd Owner
2      0  Petrol  Hatchback    11,949       Manual        1  1st Owner
3      0  Petrol      Sedan    17,794       Manual        1  1st Owner
4      0  Diesel        SUV    60,000       Manual        1  1st Owner
...   ..     ...        ...       ...          ...      ...        ...
1476   0  Diesel        SUV  1,56,039       Manual        2  2nd Owner
1477   0  Petrol      Sedan    56,000       Manual        2  2nd Owner
1478   0  Petrol  Hatchback    42,000       Manual        2  2nd Owner
1479   0  Diesel  Hatchback    93,003       Manual        1  1st Owner
1480   0  Petrol  Hatchback    36,000    Automatic        2  2nd Owner

          oem               model  modelYear  ...  data_2_list_11_value  \
0      Maruti      Maruti Celerio       2015  ...            235-litres
1        Ford       Ford Ecosport       2018  ...                   NaN
2        Tata          Tata Tiago       2018  ...                     5
3     Hyundai       Hyundai Xcent       2014  ...                     4
4      Maruti  Maruti SX4 S Cross       2015  ...                     5
...       ...                 ...        ...  ...                   ...
1476   Toyota     Toyota Fortuner       2012  ...                     5
1477   Maruti          Maruti SX4       2008  ...            505 litres
1478    Honda          Honda Brio       2014  ...            175-litres
1479  Hyundai         Hyundai i20       2018  ...                     5
1480  Hyundai   Hyundai Grand i10       2017  ...                     5

     commonIcon top_5_key top_5_value data_2_list_12_key data_2_list_12_value  \
0                     NaN         NaN                NaN                  NaN
1                   Seats           5                NaN                  NaN
2                   Seats           5       Cargo Volumn           242-litres
3                   Seats           5       Cargo Volumn           407-litres
4                   Seats           5       Cargo Volumn           353-litres
...         ...       ...         ...                ...                  ...
1476                Seats           7       Cargo Volumn           296-litres
1477                Seats           5                NaN                  NaN
1478                  NaN         NaN                NaN                  NaN
1479                Seats           5       Cargo Volumn           295-litres
1480                Seats           5       Cargo Volumn           256-liters

     data_1_list_8_key data_1_list_8_value  \
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
...                ...                 ...
1476               NaN                 NaN
1477               NaN                 NaN
1478               NaN                 NaN
1479               NaN                 NaN
1480               NaN                 NaN

                                              car_links       City
0     https://www.cardekho.com/used-car-details/used...  Bangalore
1     https://www.cardekho.com/buy-used-car-details/...  Bangalore
2     https://www.cardekho.com/used-car-details/used...  Bangalore
3     https://www.cardekho.com/buy-used-car-details/...  Bangalore
4     https://www.cardekho.com/used-car-details/used...  Bangalore
...                                                 ...        ...
1476  https://www.cardekho.com/used-car-details/used...  Bangalore
1477  https://www.cardekho.com/used-car-details/used...  Bangalore
1478  https://www.cardekho.com/used-car-details/used...  Bangalore
1479  https://www.cardekho.com/used-car-details/used...  Bangalore
1480  https://www.cardekho.com/used-car-details/used...  Bangalore

[1481 rows x 308 columns]

In [63]:
bangalore_structured.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,data_2_list_11_value,commonIcon,top_5_key,top_5_value,data_2_list_12_key,data_2_list_12_value,data_1_list_8_key,data_1_list_8_value,car_links,City
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,235-litres,,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,NaN,,Seats,5,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,5,,Seats,5,Cargo Volumn,242-litres,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,4,,Seats,5,Cargo Volumn,407-litres,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,5,,Seats,5,Cargo Volumn,353-litres,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore

# CHENNAI

In [31]:
#file paths
input_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\chennai_cars.xlsx"
output_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\chennai_structured.csv"

df=pd.read_excel(input_path)

In [33]:
def flatten_dict(d, parent_key=''):
    flat_dict = {}
    
    for key, value in d.items():
        new_key = f"{parent_key}_{key}" if parent_key else key
        
        if isinstance(value, dict):
            # Recursively flatten nested dictionaries
            flat_dict.update(flatten_dict(value, new_key))
        
        elif isinstance(value, list):
            # Handle lists: flatten dictionaries inside lists
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    flat_dict.update(flatten_dict(item, f'{new_key}_{i}'))
                else:
                    flat_dict[f'{new_key}_{i}'] = item
        else:
            # For non-dict, non-list values, add them directly
            flat_dict[new_key] = value
            
    return flat_dict
columns_to_process = ["new_car_detail","new_car_overview","new_car_feature","new_car_specs"]
structured_data = {}

for col in columns_to_process:
    flattened_rows = []
    for row in df[col]:
        row_data = ast.literal_eval(row)
        flattened_rows.append(flatten_dict(row_data))
    structured_data[col] = pd.DataFrame(flattened_rows)

# For carlinks, no need to flatten
structured_data["car_links"] = df[["car_links"]].copy()

# Combine all flattened data into a single DataFrame
chennai_structured = pd.concat([structured_data["new_car_detail"], 
                      structured_data["new_car_overview"],
                      structured_data["new_car_feature"], 
                      structured_data["new_car_specs"], 
                      structured_data["car_links"]], axis=1)

# Add a city column
chennai_structured["City"] = "Chennai"

# Save the dataframe to a csv file
chennai_structured.to_csv(output_path, index=False)

print(chennai_structured)

      it      ft         bt      km transmission  ownerNo      owner  \
0      0  Petrol        SUV  20,000    Automatic        1  1st Owner
1      0  Petrol   Minivans  20,687       Manual        1  1st Owner
2      0  Petrol        SUV  30,000       Manual        1  1st Owner
3      0  Petrol  Hatchback  59,247       Manual        1  1st Owner
4      0  Petrol  Hatchback  50,000       Manual        1  1st Owner
...   ..     ...        ...     ...          ...      ...        ...
1414   0  Petrol  Hatchback  42,891    Automatic        1  1st Owner
1415   0  Diesel        SUV  59,100       Manual        1  1st Owner
1416   0  Petrol        SUV  55,913    Automatic        1  1st Owner
1417   0  Diesel        SUV  65,000    Automatic        1  1st Owner
1418   0  Diesel      Sedan  60,000    Automatic        1  1st Owner

             oem              model  modelYear  ...  top_5_key top_5_value  \
0            Kia          Kia Sonet       2022  ...        NaN         NaN
1         Maruti        Maruti Eeco       2015  ...        NaN         NaN
2         Nissan     Nissan Magnite       2021  ...      Seats           5
3        Hyundai        Hyundai i10       2015  ...        NaN         NaN
4          Honda         Honda Jazz       2015  ...      Seats           5
...          ...                ...        ...  ...        ...         ...
1414      Maruti       Maruti Swift       2018  ...        NaN         NaN
1415     Renault     Renault Duster       2018  ...      Seats           5
1416        Tata         Tata Nexon       2018  ...      Seats           5
1417  Volkswagen  Volkswagen Tiguan       2017  ...      Seats           5
1418         BMW    BMW 3 Series GT       2019  ...      Seats           5

     data_2_list_12_key data_2_list_12_value data_0_list_12_key  \
0                   NaN                  NaN                NaN
1                   NaN                  NaN                NaN
2                   NaN                  NaN                NaN
3                   NaN                  NaN                NaN
4          Cargo Volumn           354-litres                NaN
...                 ...                  ...                ...
1414                NaN                  NaN                NaN
1415       Cargo Volumn           475-litres                NaN
1416                NaN                  NaN                NaN
1417                NaN                  NaN                NaN
1418       Cargo Volumn                  520                NaN

     data_0_list_12_value data_1_list_8_key data_1_list_8_value  \
0                     NaN               NaN                 NaN
1                     NaN               NaN                 NaN
2                     NaN               NaN                 NaN
3                     NaN               NaN                 NaN
4                     NaN               NaN                 NaN
...                   ...               ...                 ...
1414                  NaN               NaN                 NaN
1415                  NaN               NaN                 NaN
1416                  NaN               NaN                 NaN
1417                  NaN               NaN                 NaN
1418                  NaN               NaN                 NaN

                                              car_links     City
0     https://www.cardekho.com/used-car-details/used...  Chennai
1     https://www.cardekho.com/buy-used-car-details/...  Chennai
2     https://www.cardekho.com/used-car-details/used...  Chennai
3     https://www.cardekho.com/buy-used-car-details/...  Chennai
4     https://www.cardekho.com/used-car-details/used...  Chennai
...                                                 ...      ...
1414  https://www.cardekho.com/used-car-details/used...  Chennai
1415  https://www.cardekho.com/used-car-details/used...  Chennai
1416  https://www.cardekho.com/used-car-details/used...  Chennai
1417  https://www.cardekho.com/used-car-details/used...  Chennai
1418  https://www.cardekho.com/used-car-details/used...  Chennai

[1419 rows x 313 columns]

# DELHI

In [25]:
#file paths
input_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\delhi_cars.xlsx"
output_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\delhi_structured.csv"

df=pd.read_excel(input_path)

In [27]:
def flatten_dict(d, parent_key=''):
    flat_dict = {}
    
    for key, value in d.items():
        new_key = f"{parent_key}_{key}" if parent_key else key
        
        if isinstance(value, dict):
            # Recursively flatten nested dictionaries
            flat_dict.update(flatten_dict(value, new_key))
        
        elif isinstance(value, list):
            # Handle lists: flatten dictionaries inside lists
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    flat_dict.update(flatten_dict(item, f'{new_key}_{i}'))
                else:
                    flat_dict[f'{new_key}_{i}'] = item
        else:
            # For non-dict, non-list values, add them directly
            flat_dict[new_key] = value
            
    return flat_dict
columns_to_process = ["new_car_detail","new_car_overview","new_car_feature","new_car_specs"]
structured_data = {}

for col in columns_to_process:
    flattened_rows = []
    for row in df[col]:
        row_data = ast.literal_eval(row)
        flattened_rows.append(flatten_dict(row_data))
    structured_data[col] = pd.DataFrame(flattened_rows)

# For carlinks, no need to flatten
structured_data["car_links"] = df[["car_links"]].copy()

# Combine all flattened data into a single DataFrame
delhi_structured = pd.concat([structured_data["new_car_detail"], 
                      structured_data["new_car_overview"],
                      structured_data["new_car_feature"], 
                      structured_data["new_car_specs"], 
                      structured_data["car_links"]], axis=1)

# Add a city column
delhi_structured["City"] = "Delhi"

# Save the dataframe to a csv file
delhi_structured.to_csv(output_path, index=False)

print(delhi_structured)

      it      ft         bt      km transmission  ownerNo      owner  \
0      0  Diesel        SUV  10,000    Automatic        1  1st Owner
1      0  Petrol        SUV  57,437       Manual        2  2nd Owner
2      0  Petrol        SUV   8,000    Automatic        1  1st Owner
3      0  Petrol  Hatchback  28,151       Manual        2  2nd Owner
4      0  Petrol        SUV  60,000       Manual        1  1st Owner
...   ..     ...        ...     ...          ...      ...        ...
1480   0  Petrol      Sedan  60,000    Automatic        1  1st Owner
1481   0  Petrol        SUV  20,000       Manual        1  1st Owner
1482   0  Petrol      Sedan  60,000       Manual        1  1st Owner
1483   0  Diesel        SUV  38,000       Manual        1  1st Owner
1484   0  Diesel        SUV   7,000    Automatic        0  0th Owner

                oem              model  modelYear  ...  data_1_list_8_key  \
0               Kia         Kia Seltos       2022  ...                NaN
1           Hyundai      Hyundai Creta       2016  ...                NaN
2     Mercedes-Benz  Mercedes-Benz GLC       2020  ...                NaN
3            Maruti       Maruti Swift       2018  ...                NaN
4           Hyundai      Hyundai Creta       2017  ...                NaN
...             ...                ...        ...  ...                ...
1480          Honda         Honda City       2019  ...                NaN
1481            Kia          Kia Sonet       2021  ...                NaN
1482        Hyundai      Hyundai Verna       2011  ...                NaN
1483        Hyundai      Hyundai Creta       2019  ...                NaN
1484             MG         MG Gloster       2023  ...                NaN

     data_1_list_8_value data_1_list_9_key data_1_list_9_value  \
0                    NaN               NaN                 NaN
1                    NaN               NaN                 NaN
2                    NaN               NaN                 NaN
3                    NaN               NaN                 NaN
4                    NaN               NaN                 NaN
...                  ...               ...                 ...
1480                 NaN               NaN                 NaN
1481                 NaN               NaN                 NaN
1482                 NaN               NaN                 NaN
1483                 NaN               NaN                 NaN
1484                 NaN               NaN                 NaN

     data_1_list_10_key data_1_list_10_value data_1_list_11_key  \
0                   NaN                  NaN                NaN
1                   NaN                  NaN                NaN
2                   NaN                  NaN                NaN
3                   NaN                  NaN                NaN
4                   NaN                  NaN                NaN
...                 ...                  ...                ...
1480                NaN                  NaN                NaN
1481                NaN                  NaN                NaN
1482                NaN                  NaN                NaN
1483                NaN                  NaN                NaN
1484                NaN                  NaN                NaN

     data_1_list_11_value                                          car_links  \
0                     NaN  https://www.cardekho.com/used-car-details/used...
1                     NaN  https://www.cardekho.com/buy-used-car-details/...
2                     NaN  https://www.cardekho.com/used-car-details/used...
3                     NaN  https://www.cardekho.com/buy-used-car-details/...
4                     NaN  https://www.cardekho.com/used-car-details/used...
...                   ...                                                ...
1480                  NaN  https://www.cardekho.com/used-car-details/used...
1481                  NaN  https://www.cardekho.com/used-car-details/used...
1482                  NaN  https://www.cardekho.com/used-car-details/used...
1483                  NaN  https://www.cardekho.com/used-car-details/used...
1484                  NaN  https://www.cardekho.com/used-car-details/used...

       City
0     Delhi
1     Delhi
2     Delhi
3     Delhi
4     Delhi
...     ...
1480  Delhi
1481  Delhi
1482  Delhi
1483  Delhi
1484  Delhi

[1485 rows x 320 columns]

# HYDERABAD

In [21]:
#file paths
input_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\hyderabad_cars.xlsx"
output_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\hyderabad_structured.csv"

df=pd.read_excel(input_path)

In [23]:
def flatten_dict(d, parent_key=''):
    flat_dict = {}
    
    for key, value in d.items():
        new_key = f"{parent_key}_{key}" if parent_key else key
        
        if isinstance(value, dict):
            # Recursively flatten nested dictionaries
            flat_dict.update(flatten_dict(value, new_key))
        
        elif isinstance(value, list):
            # Handle lists: flatten dictionaries inside lists
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    flat_dict.update(flatten_dict(item, f'{new_key}_{i}'))
                else:
                    flat_dict[f'{new_key}_{i}'] = item
        else:
            # For non-dict, non-list values, add them directly
            flat_dict[new_key] = value
            
    return flat_dict
columns_to_process = ["new_car_detail","new_car_overview","new_car_feature","new_car_specs"]
structured_data = {}

for col in columns_to_process:
    flattened_rows = []
    for row in df[col]:
        row_data = ast.literal_eval(row)
        flattened_rows.append(flatten_dict(row_data))
    structured_data[col] = pd.DataFrame(flattened_rows)

# For carlinks, no need to flatten
structured_data["car_links"] = df[["car_links"]].copy()

# Combine all flattened data into a single DataFrame
hyderabad_structured = pd.concat([structured_data["new_car_detail"], 
                      structured_data["new_car_overview"],
                      structured_data["new_car_feature"], 
                      structured_data["new_car_specs"], 
                      structured_data["car_links"]], axis=1)

# Add a city column
hyderabad_structured["City"] = "Hyberabad"

# Save the dataframe to a csv file
hyderabad_structured.to_csv(output_path, index=False)

print(hyderabad_structured)

      it      ft         bt        km transmission  ownerNo      owner  \
0      0  Petrol  Hatchback    20,000    Automatic        1  1st Owner
1      0  Petrol  Hatchback    85,582       Manual        2  2nd Owner
2      0  Petrol        SUV    10,000       Manual        1  1st Owner
3      0  Petrol  Hatchback    50,750       Manual        1  1st Owner
4      0  Petrol        SUV    10,000    Automatic        1  1st Owner
...   ..     ...        ...       ...          ...      ...        ...
1478   0  Diesel        SUV    60,000       Manual        1  1st Owner
1479   0  Diesel      Sedan    50,000    Automatic        1  1st Owner
1480   0  Diesel      Sedan  1,20,000    Automatic        3  3rd Owner
1481   0  Diesel        SUV    50,000    Automatic        2  2nd Owner
1482   0  Diesel        MUV  1,00,000       Manual        1  1st Owner

             oem            model  modelYear  ...  data_2_list_10_value  \
0     Volkswagen  Volkswagen Polo       2022  ...                   280
1        Hyundai      Hyundai EON       2014  ...                     5
2        Hyundai    Hyundai Venue       2023  ...                   NaN
3         Maruti    Maruti Baleno       2017  ...                    16
4       Mahindra    Mahindra Thar       2022  ...                   NaN
...          ...              ...        ...  ...                   ...
1478    Mahindra  Mahindra XUV500       2013  ...                    17
1479      Jaguar        Jaguar XF       2014  ...                    20
1480         BMW     BMW 5 Series       2018  ...                   R18
1481        Tata       Tata Nexon       2019  ...                     5
1482      Toyota    Toyota Innova       2015  ...                    15

     commonIcon data_2_list_11_key data_2_list_11_value data_2_list_12_key  \
0                              NaN                  NaN                NaN
1                     Cargo Volumn           215-litres                NaN
2                              NaN                  NaN                NaN
3                  No Door Numbers                    5       Cargo Volumn
4                              NaN                  NaN                NaN
...         ...                ...                  ...                ...
1478               No Door Numbers                    5                NaN
1479               No Door Numbers                    4       Cargo Volumn
1480               No Door Numbers                    4       Cargo Volumn
1481                  Cargo Volumn                  350                NaN
1482               No Door Numbers                    5       Cargo Volumn

     data_2_list_12_value data_1_list_8_key data_1_list_8_value  \
0                     NaN               NaN                 NaN
1                     NaN               NaN                 NaN
2                     NaN               NaN                 NaN
3              339-litres               NaN                 NaN
4                     NaN               NaN                 NaN
...                   ...               ...                 ...
1478                  NaN               NaN                 NaN
1479           540-litres               NaN                 NaN
1480           520-litres               NaN                 NaN
1481                  NaN               NaN                 NaN
1482           300-litres               NaN                 NaN

                                              car_links       City
0     https://www.cardekho.com/used-car-details/used...  Hyberabad
1     https://www.cardekho.com/buy-used-car-details/...  Hyberabad
2     https://www.cardekho.com/used-car-details/used...  Hyberabad
3     https://www.cardekho.com/buy-used-car-details/...  Hyberabad
4     https://www.cardekho.com/used-car-details/used...  Hyberabad
...                                                 ...        ...
1478  https://www.cardekho.com/used-car-details/used...  Hyberabad
1479  https://www.cardekho.com/used-car-details/used...  Hyberabad
1480  https://www.cardekho.com/used-car-details/used...  Hyberabad
1481  https://www.cardekho.com/used-car-details/used...  Hyberabad
1482  https://www.cardekho.com/used-car-details/used...  Hyberabad

[1483 rows x 296 columns]

# JAIPUR

In [13]:
#file paths
input_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\jaipur_cars.xlsx"
output_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\jaipur_structured.csv"

df=pd.read_excel(input_path)

In [17]:
def flatten_dict(d, parent_key=''):
    flat_dict = {}
    
    for key, value in d.items():
        new_key = f"{parent_key}_{key}" if parent_key else key
        
        if isinstance(value, dict):
            # Recursively flatten nested dictionaries
            flat_dict.update(flatten_dict(value, new_key))
        
        elif isinstance(value, list):
            # Handle lists: flatten dictionaries inside lists
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    flat_dict.update(flatten_dict(item, f'{new_key}_{i}'))
                else:
                    flat_dict[f'{new_key}_{i}'] = item
        else:
            # For non-dict, non-list values, add them directly
            flat_dict[new_key] = value
            
    return flat_dict
columns_to_process = ["new_car_detail","new_car_overview","new_car_feature","new_car_specs"]
structured_data = {}

for col in columns_to_process:
    flattened_rows = []
    for row in df[col]:
        row_data = ast.literal_eval(row)
        flattened_rows.append(flatten_dict(row_data))
    structured_data[col] = pd.DataFrame(flattened_rows)

# For carlinks, no need to flatten
structured_data["car_links"] = df[["car_links"]].copy()

# Combine all flattened data into a single DataFrame
jaipur_structured = pd.concat([structured_data["new_car_detail"], 
                      structured_data["new_car_overview"],
                      structured_data["new_car_feature"], 
                      structured_data["new_car_specs"], 
                      structured_data["car_links"]], axis=1)

# Add a city column
jaipur_structured["City"] = "Jaipur"

# Save the dataframe to a csv file
jaipur_structured.to_csv(output_path, index=False)

print(jaipur_structured)

      it      ft         bt        km transmission  ownerNo      owner  \
0      0  Diesel  Hatchback  1,20,000       Manual        2  2nd Owner
1      0  Petrol  Hatchback    66,951       Manual        1  1st Owner
2      0  Petrol  Hatchback    80,000    Automatic        2  2nd Owner
3      0  Petrol  Hatchback    44,392       Manual        1  1st Owner
4      0  Petrol  Hatchback    40,000    Automatic        1  1st Owner
...   ..     ...        ...       ...          ...      ...        ...
1115   0  Petrol  Hatchback  1,20,000       Manual        1  1st Owner
1116   0  Petrol  Hatchback    70,000       Manual        1  1st Owner
1117   0  Petrol        SUV    20,000       Manual        1  1st Owner
1118   0  Petrol  Hatchback    40,000       Manual        1  1st Owner
1119   0  Petrol  Hatchback    80,000       Manual        1  1st Owner

            oem              model  modelYear  ...  data_1_list_8_key  \
0       Hyundai        Hyundai i20       2015  ...                NaN
1        Maruti       Maruti Swift       2012  ...                NaN
2        Maruti     Maruti Celerio       2016  ...                NaN
3       Hyundai  Hyundai Grand i10       2017  ...                NaN
4        Maruti     Maruti Wagon R       2016  ...                NaN
...         ...                ...        ...  ...                ...
1115  Chevrolet     Chevrolet Beat       2011  ...                NaN
1116     Maruti        Maruti Alto       2007  ...                NaN
1117    Renault      Renault Kiger       2022  ...                NaN
1118     Maruti        Maruti Alto       2009  ...                NaN
1119     Maruti      Maruti Baleno       2018  ...                NaN

     data_1_list_8_value data_1_list_9_key data_1_list_9_value  \
0                    NaN               NaN                 NaN
1                    NaN               NaN                 NaN
2                    NaN               NaN                 NaN
3                    NaN               NaN                 NaN
4                    NaN               NaN                 NaN
...                  ...               ...                 ...
1115                 NaN               NaN                 NaN
1116                 NaN               NaN                 NaN
1117                 NaN               NaN                 NaN
1118                 NaN               NaN                 NaN
1119                 NaN               NaN                 NaN

     data_1_list_10_key data_1_list_10_value data_1_list_11_key  \
0                   NaN                  NaN                NaN
1                   NaN                  NaN                NaN
2                   NaN                  NaN                NaN
3                   NaN                  NaN                NaN
4                   NaN                  NaN                NaN
...                 ...                  ...                ...
1115                NaN                  NaN                NaN
1116                NaN                  NaN                NaN
1117                NaN                  NaN                NaN
1118                NaN                  NaN                NaN
1119                NaN                  NaN                NaN

     data_1_list_11_value                                          car_links  \
0                     NaN  https://www.cardekho.com/used-car-details/used...
1                     NaN  https://www.cardekho.com/buy-used-car-details/...
2                     NaN  https://www.cardekho.com/used-car-details/used...
3                     NaN  https://www.cardekho.com/buy-used-car-details/...
4                     NaN  https://www.cardekho.com/used-car-details/used...
...                   ...                                                ...
1115                  NaN  https://www.cardekho.com/used-car-details/used...
1116                  NaN  https://www.cardekho.com/used-car-details/used...
1117                  NaN  https://www.cardekho.com/used-car-details/used...
1118                  NaN  https://www.cardekho.com/used-car-details/used...
1119                  NaN  https://www.cardekho.com/used-car-details/used...

        City
0     Jaipur
1     Jaipur
2     Jaipur
3     Jaipur
4     Jaipur
...      ...
1115  Jaipur
1116  Jaipur
1117  Jaipur
1118  Jaipur
1119  Jaipur

[1120 rows x 302 columns]

# KOLKATA

In [7]:
#file paths
input_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\kolkata_cars.xlsx"
output_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\kolkata_structured.csv"

df=pd.read_excel(input_path)

In [19]:
def flatten_dict(d, parent_key=''):
    flat_dict = {}
    
    for key, value in d.items():
        new_key = f"{parent_key}_{key}" if parent_key else key
        
        if isinstance(value, dict):
            # Recursively flatten nested dictionaries
            flat_dict.update(flatten_dict(value, new_key))
        
        elif isinstance(value, list):
            # Handle lists: flatten dictionaries inside lists
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    flat_dict.update(flatten_dict(item, f'{new_key}_{i}'))
                else:
                    flat_dict[f'{new_key}_{i}'] = item
        else:
            # For non-dict, non-list values, add them directly
            flat_dict[new_key] = value
            
    return flat_dict
columns_to_process = ["new_car_detail","new_car_overview","new_car_feature","new_car_specs"]
structured_data = {}

for col in columns_to_process:
    flattened_rows = []
    for row in df[col]:
        row_data = ast.literal_eval(row)
        flattened_rows.append(flatten_dict(row_data))
    structured_data[col] = pd.DataFrame(flattened_rows)

# For carlinks, no need to flatten
structured_data["car_links"] = df[["car_links"]].copy()

# Combine all flattened data into a single DataFrame
kolkata_structured = pd.concat([structured_data["new_car_detail"], 
                      structured_data["new_car_overview"],
                      structured_data["new_car_feature"], 
                      structured_data["new_car_specs"], 
                      structured_data["car_links"]], axis=1)

# Add a city column
kolkata_structured["City"] = "Kolkata"

# Save the dataframe to a csv file
kolkata_structured.to_csv(output_path, index=False)

print(kolkata_structured)

      it      ft         bt        km transmission  ownerNo      owner  \
0      0  Diesel  Hatchback  1,20,000       Manual        2  2nd Owner
1      0  Petrol  Hatchback    66,951       Manual        1  1st Owner
2      0  Petrol  Hatchback    80,000    Automatic        2  2nd Owner
3      0  Petrol  Hatchback    44,392       Manual        1  1st Owner
4      0  Petrol  Hatchback    40,000    Automatic        1  1st Owner
...   ..     ...        ...       ...          ...      ...        ...
1115   0  Petrol  Hatchback  1,20,000       Manual        1  1st Owner
1116   0  Petrol  Hatchback    70,000       Manual        1  1st Owner
1117   0  Petrol        SUV    20,000       Manual        1  1st Owner
1118   0  Petrol  Hatchback    40,000       Manual        1  1st Owner
1119   0  Petrol  Hatchback    80,000       Manual        1  1st Owner

            oem              model  modelYear  ...  data_1_list_8_key  \
0       Hyundai        Hyundai i20       2015  ...                NaN
1        Maruti       Maruti Swift       2012  ...                NaN
2        Maruti     Maruti Celerio       2016  ...                NaN
3       Hyundai  Hyundai Grand i10       2017  ...                NaN
4        Maruti     Maruti Wagon R       2016  ...                NaN
...         ...                ...        ...  ...                ...
1115  Chevrolet     Chevrolet Beat       2011  ...                NaN
1116     Maruti        Maruti Alto       2007  ...                NaN
1117    Renault      Renault Kiger       2022  ...                NaN
1118     Maruti        Maruti Alto       2009  ...                NaN
1119     Maruti      Maruti Baleno       2018  ...                NaN

     data_1_list_8_value data_1_list_9_key data_1_list_9_value  \
0                    NaN               NaN                 NaN
1                    NaN               NaN                 NaN
2                    NaN               NaN                 NaN
3                    NaN               NaN                 NaN
4                    NaN               NaN                 NaN
...                  ...               ...                 ...
1115                 NaN               NaN                 NaN
1116                 NaN               NaN                 NaN
1117                 NaN               NaN                 NaN
1118                 NaN               NaN                 NaN
1119                 NaN               NaN                 NaN

     data_1_list_10_key data_1_list_10_value data_1_list_11_key  \
0                   NaN                  NaN                NaN
1                   NaN                  NaN                NaN
2                   NaN                  NaN                NaN
3                   NaN                  NaN                NaN
4                   NaN                  NaN                NaN
...                 ...                  ...                ...
1115                NaN                  NaN                NaN
1116                NaN                  NaN                NaN
1117                NaN                  NaN                NaN
1118                NaN                  NaN                NaN
1119                NaN                  NaN                NaN

     data_1_list_11_value                                          car_links  \
0                     NaN  https://www.cardekho.com/used-car-details/used...
1                     NaN  https://www.cardekho.com/buy-used-car-details/...
2                     NaN  https://www.cardekho.com/used-car-details/used...
3                     NaN  https://www.cardekho.com/buy-used-car-details/...
4                     NaN  https://www.cardekho.com/used-car-details/used...
...                   ...                                                ...
1115                  NaN  https://www.cardekho.com/used-car-details/used...
1116                  NaN  https://www.cardekho.com/used-car-details/used...
1117                  NaN  https://www.cardekho.com/used-car-details/used...
1118                  NaN  https://www.cardekho.com/used-car-details/used...
1119                  NaN  https://www.cardekho.com/used-car-details/used...

         City
0     Kolkata
1     Kolkata
2     Kolkata
3     Kolkata
4     Kolkata
...       ...
1115  Kolkata
1116  Kolkata
1117  Kolkata
1118  Kolkata
1119  Kolkata

[1120 rows x 302 columns]

In [ ]:
#Combining all structured data

In [11]:
file_paths=["C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\bangalore_structured.csv",
           "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\chennai_structured.csv",
           "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\delhi_structured.csv",
           "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\hyderabad_structured.csv",
           "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\jaipur_structured.csv",
           "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\kolkata_structured.csv"]

final_df=[]

for file_path in file_paths:
    df=pd.read_csv(file_path)
    final_df.append(df)
    
final_df = pd.concat(final_df, ignore_index=True)

output_path = "C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\final_df.csv"
final_df.to_csv(output_path, index=False)

print("sucessfully")

sucessfully

# PRE-PROCESSING

In [123]:
final_df=pd.read_csv("C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\final_df.csv")

C:\Users\admin\AppData\Local\Temp\ipykernel_1076\338441427.py:1: DtypeWarning: Columns (13,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,210,211,212,213,214,215,234,240,242,308,309,310,311,312,313,314,315,316,317,318,319,320,321,323) have mixed types. Specify dtype option on import or set low_memory=False.
  final_df=pd.read_csv("C:\\Users\\admin\\python\\Car Dheko - Used Car Price Prediction\\final_df.csv")

In [125]:
final_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,data_0_list_36_value,data_3_list_45_value,data_3_list_46_value,data_3_list_47_value,data_1_list_9_key,data_1_list_9_value.1,data_1_list_10_key,data_1_list_10_value.1,data_1_list_11_key,data_1_list_11_value.1
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
final_df.shape

(8369, 325)

In [129]:
final_df.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear',
       ...
       'data_0_list_36_value', 'data_3_list_45_value', 'data_3_list_46_value',
       'data_3_list_47_value', 'data_1_list_9_key', 'data_1_list_9_value.1',
       'data_1_list_10_key', 'data_1_list_10_value.1', 'data_1_list_11_key',
       'data_1_list_11_value.1'],
      dtype='object', length=325)

In [131]:
final_df.isnull().mean()*100

it                         0.000000
ft                         0.000000
bt                         0.047795
km                         0.000000
transmission               0.000000
                            ...
data_1_list_9_value.1     99.952205
data_1_list_10_key        99.952205
data_1_list_10_value.1    99.952205
data_1_list_11_key        99.952205
data_1_list_11_value.1    99.952205
Length: 325, dtype: float64

In [133]:
# Calculate the threshold for 50% non-NaN values
threshold=len(final_df) * 0.5

# Drop columns with more than 50% NaN values
final_df=final_df.dropna(thresh=threshold, axis=1)

In [135]:
final_df.shape

(8369, 215)

In [137]:
final_df["top_0_value.2"].isnull().sum()

0

In [139]:
final_df["price"].isnull().sum()

0

In [141]:
final_df.isnull().sum()

it                           0
ft                           0
bt                           4
km                           0
transmission                 0
                          ...
data_2_list_11_value.1    3918
top_5_key.1               3243
top_5_value.2             3243
car_links                    0
City                         0
Length: 215, dtype: int64

In [143]:
final_df["bt"].value_counts()

bt
Hatchback        3567
SUV              2225
Sedan            2174
MUV               352
Minivans           23
Coupe              10
Pickup Trucks       6
Convertibles        6
Hybrids             1
Wagon               1
Name: count, dtype: int64

In [145]:
final_df["bt"].fillna(final_df["bt"].mode()[0],inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_1076\3221153751.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df["bt"].fillna(final_df["bt"].mode()[0],inplace=True)

In [147]:
final_df["ownerNo"].isnull().sum()

0

In [149]:
# dropping the repeated column
final_df.drop("owner",axis=1,inplace=True)

In [151]:
final_df["oem"].isnull().sum()

0

In [153]:
final_df["model"].isnull().sum()

0

In [59]:
final_df["modelYear"].isnull().sum()

0

In [65]:
#coversion type for price

In [155]:
final_df["price"]

0          ₹ 4 Lakh
1       ₹ 8.11 Lakh
2       ₹ 5.85 Lakh
3       ₹ 4.62 Lakh
4       ₹ 7.90 Lakh
           ...
8364    ₹ 5.10 Lakh
8365    ₹ 1.80 Lakh
8366    ₹ 5.50 Lakh
8367    ₹ 1.40 Lakh
8368       ₹ 5 Lakh
Name: price, Length: 8369, dtype: object

In [171]:
#cleaning the price
final_df["price"] = final_df["price"].str.replace("₹","",regex=False)
final_df["price"] = final_df["price"].str.replace(",","",regex=False)
final_df["price"] = final_df["price"].str.replace("Lakh","00000",regex=False)
final_df["price"] = final_df["price"].str.replace("Crore", "00000000", regex=False)
final_df["price"] = final_df["price"].str.replace(" ", "", regex=False)
final_df["price"] = final_df["price"].str.strip()

In [173]:
#convert to float
final_df["price"] = final_df["price"].astype(float)

In [175]:
final_df["price"]

0       400000.00
1            8.11
2            5.85
3            4.62
4            7.90
          ...
8364         5.10
8365         1.80
8366         5.50
8367         1.40
8368    500000.00
Name: price, Length: 8369, dtype: float64